nav {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #441d1d;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}

nav a.active {
  color: #9FEEEE;
  font-weight: bold;
}